Flask 
Flask-Login 
pandas 
casbin
requests
redis 
python-dotenv
#### related to flask2factor - is old and needs to change
click
itsdangerous
jinja2
werkzeug
pyotp
Flask-SQLAlchemy
pyqrcode
pypng ## to go along with pyotp and pyqrcode