{% extends "base.html" %}

{% block title %}
    API Token
{% endblock %}

{% block content %}

    <div class="flex justify-center min-h-30vh items-center">
        <div class="w-full max-w-lg p-5 bg-white rounded-lg shadow">
            <h2 class="text-lg font-semibold text-center mb-4">Your API Token</h2>
            {% if token %}
                <div class="flex flex-col items-center">
                    <input type="text" id="apiToken" value="{{ token }}" class="w-full p-3 border border-gray-300 rounded mb-4" readonly>
                    <button onclick="copyToken()" class="text-white bg-blue-500 hover:bg-blue-600 font-medium rounded-lg text-sm px-4 py-2">Copy</button>
                </div>
                <p class="mt-4 text-sm text-gray-600 text-center">Last updated: {{ last_updated }}</p>
            {% else %}
                <p class="text-red-500 text-center">{{ message }}</p>
            {% endif %}
        </div>
    </div>


    <div class="mt-10 flex justify-center min-h-30vh items-center">
        <div class="w-full max-w-lg p-5 bg-white rounded-lg shadow">
            <div class="flex flex-col items-center">
                <form action="/api-token/generate" method="GET" class="mt-4">
                    <button type="submit" class="text-white bg-red-500 hover:bg-red-600 font-medium rounded-lg text-sm px-4 py-2">Reset Token</button>
                </form>
            </div>
        </div>
    </div>


    <div class="container mx-auto p-8">
        <div class="bg-white p-5 rounded shadow-sm">
            <div class="mt-8">
                <div class="bg-white p-5 rounded shadow-sm">
                    <h3 class="font-bold text-xl mb-4">Quick Links</h3>
                    <div class="space-y-2">
                        <a href="/profile" class="text-blue-500 hover:text-blue-700">User Profile</a><br>
                        <a href="/manage-permissions" class="text-blue-500 hover:text-blue-700">Manage Permissions</a><br>
                        <a href="/swagger" class="text-blue-500 hover:text-blue-700">API Documentation: Swagger</a><br>
                        <a href="/redoc" class="text-blue-500 hover:text-blue-700">API Documentation: ReDoc</a><br>
                        <a href="/register/admin/2fa/setup" class="text-blue-500 hover:text-blue-700">Update 2FA</a><br>
                        <a href="/change_password" class="text-blue-500 hover:text-blue-700">Change Password</a><br>
                        <a href="/api-token" class="text-blue-500 hover:text-blue-700">View or Reset Your API Token</a><br>
                        <a href="/session-time" class="text-blue-500 hover:text-blue-700">Session Time</a><br>
                        <a href="/logout" class="text-blue-500 hover:text-blue-700">Logout</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/apiTokens.js') }}"></script>

{% endblock %}



