<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Healthcare API Security App{% endblock %}</title>
    <!-- Tailwind CSS -->
    <link href="{{ url_for('static', filename='tailwind.2.2.19.min.css') }}" rel="stylesheet">
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">

    
    <!-- Header -->
    <header class="bg-blue-500 text-white p-4">
        <div class="container mx-auto">
            <h1 class="text-xl">{% block header %} Flask Healthcare API Security {% endblock %}</h1>
        </div>
    </header>

    <!-- Main Content -->
    <main class="flex-grow container mx-auto mt-4 mb-4 p-4">
        {% block content %}
        <!-- Page specific content will go here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-gray-700 text-white p-4">

        <div class="container mx-auto text-center">
            {% block footer %}
            &copy; <span id="year">2024</span> Flask Healthcare Template. All rights reserved.
            {% endblock %}
        </div>
        
    </footer>

    <!-- External JavaScript File -->
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/base.js') }}"></script>

</body>
</html>
